.userList {
    padding: 0 46px;
}

.button-create {
    display: flex;
    justify-content: end;
    margin-bottom: 16px;
}

.data-wrap {
    display: flex;
    justify-content: space-between;
}

.table {
    width: 950px;
}

.form-title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
}
