.table-title {
    display: flex;
    align-items: center;
    padding-left: 26px;
    height: 55px;
}

.table-title > div {
    width: 20%;
    color: #A4A4B5;
    font-size: 13px;
    font-weight: bold;
}

.table-line > p {
    width: 20%;
}

.table-line {
    display: flex;
    align-items: center;
    height: 56px;
    padding-left: 26px;
    margin-bottom: 2px;
}

.table-body :last-child {
    margin-bottom: 0;
}

.table-footer {
    height: 78px;
}
